.header-wrapper
{
  background: transparent;
  position: absolute;
  width: 100vw;
  padding-top: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.header
{
  height: 80px;
  margin: 0 4.5rem;
  padding-top: .5rem;
  max-width: 1920px;
  width: 100vw;
}