.movies-list
{
  display: grid;
  grid-gap: .5rem 2rem;
  grid-template-columns: repeat(auto-fit, 174px);
  justify-content: center;
  max-width: 1560px;
  margin: 0 auto;
  margin-top: 140px;
}

.movie-preview
{
  position: relative;
  width: 174px;
  height: 303px;
}

.truncate
{
  overflow: hidden;
  width: 174px;
  margin: 0 auto;
  margin-top: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ffffff;
  font-size: .9rem;
  text-align: center;
  font-weight: 300;
}

span.new::before
{
  content: '\2022\A0';
  color: #e50914;
  font-size: 1.5rem;
  line-height: .35rem;
  position: relative;
  top: .2rem;
}

.display-by
{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 83px;
  /*align-items: flex-end;*/
  z-index: 3;
  height: 40px;
  width: 100vw;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #000 75%, transparent);
}

hr:nth-of-type(2)
{
  border-bottom: 2px solid rgb(229,9,20) !important;
}

.search-bar
{
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: flex-end;
  width: calc(100vw - 6.5rem - 40px);
  align-items: center;
  height: 108px;
}

.new-preview
{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 108px;
}

.new-preview--deactive
{
  height: 0;
  color: transparent;
  transition: all 400ms linear;
}

.new-preview--active
{
  height: 350px;
  transition: all 400ms linear;
  color: #ffffff;
}

.searching-spinner
{
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
}

.searching-spinner h1
{
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.searching-spinner .sk-circle
{
  margin: 40px auto 0;
}

